@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

:root{
  --blue: #34A5DA;
  --black: #222222;
  --white: #ebebeb;
  --font: 'IBM Plex Sans', sans-seriff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

header{
  background-color: var(--blue);
  height: 80px;
  display: flex;
  align-items: center;
}


.previous, .next {
  width: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.home{
  margin-left: 5% ;
}

.next{
  display: flex;
  justify-content: flex-end;
}

.container{
  width: 100%;
  height: calc(100vh - 80px);
  background-color: var(--black);
  display: flex;
  align-items: center;
}

.powder{
  position: relative;
  width: 70%;
  height: 60%;
  margin: 0 auto;
  background-color: var(--white);
}

.controls{
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: var(--black);
  height: 50px;
  color:var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.obama{
  position: relative;
  width: 100%;
  height: calc(100% - 50px);
}

.id-check{
  position: relative;
  width: 100%;
  padding:0.5% 1% 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nomen{
  position: relative;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  padding: 0 0 7% 10%;
  text-decoration: underline var(--blue) 3px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

span{
  font-weight: 100;
}

.emp{
  position: relative;
  width: 100%;
  height: calc(100vh - 70%);
  padding: 0 0 5% 10%;
}

.movie{
  position: relative;
  width: 80%;
  height: calc(100vh - 70%);
  padding: 0 0 5% 20%;
}

.fave{
  position: relative;
  width: 100%;
  height: calc(100vh - 70%);
  padding-left: 10%;
}

li{
  position: relative;
  width: 100%;
  height: calc(100vh - 70%);
  padding: 1%;
}

li::marker{
margin-left: 25%;
}

button{
  padding: 6px 20px;
  border-radius: 15px;
  background-color: var(--blue);
  border:none;
  color: white;
  margin-right: 8px;
  cursor: pointer;

}

.btn-container{
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}